body {
margin :0;
font-family: Arial,sans-serif;
}
.navbar{
    background-color: black;
    padding:15px;
}
.navbar ul {
    justify-content: center;
    margin: 0;
    padding: 0;
}
.navbar ul i {
margin: 0 20px;
}
.navbar ul i a {
    text-decoration: none;
    color: beige;
    font: size 16px;
}
.navbar ul i a:hover {
    color: aqua;
}
